/**
 * @file
 * Styling for Multi Peer Review module icons.
 */

/**
 * Toolbar tab icon.
 */
.toolbar-icon-multi-peer-review-dashboard:before {
  background-image: url('../icons/787878/multi_peer_review.svg');
}
.toolbar-icon-multi-peer-review-dashboard:active:before,
.toolbar-icon-multi-peer-review-dashboard.is-active:before {
  background-image: url('../icons/000000/multi_peer_review.svg');
}
